@charset "utf-8";
@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

/*Variables*/
$base-font-family: "proxima-nova", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$accent-font-family: "adage-script", serif;

$spacing-unit:     30px;

$accent-color:     #e9e7d9;
$accent-color-2:   #C3CCB9;
$background-color: #bea11e;
$link-color:       #796612;
$text-color:       #f2f1e9;

//Mixins//
@mixin selectanimation($animation) {
    -webkit-transition: $animation;
    -moz-transition: $animation;
    -ms-transition: $animation;
    -o-transition: $animation;
    transition: $animation;
}

// Width of the content area
$content-width:    800px;


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

/*Headers*/
h1 {
    color: $accent-color;
    font-family: $accent-font-family;
    font-size: $base-font-size * 7.0;
    font-weight: 300;
    text-shadow: 0px 2px 1px darken($background-color, 2%);
}

/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: darken($background-color, 5%);
    }

    &:hover {
        @include selectanimation(all 0.25s ease);
        color: darken( $link-color, 8%);
        text-decoration: none;
    }
}

.site-footer{
    background-color: $accent-color;
    border-top: 1px solid darken($background-color, 5%);
    color: darken($background-color, 5%);
    margin-top: 3rem;
    padding: 1rem 0;
}

.site-border {
    border-top: 10px solid $accent-color-2;
}

.site-nav {
    border-top: 1px solid darken($background-color, 5%);
    border-bottom: 1px solid darken($background-color, 5%);
    line-height: 56px;
    margin-bottom: 3rem;
    width: 100%;
        .page-link {
            font-family: $base-font-family;
            font-size: $base-font-size * 1.2;
            font-weight: 300;
            line-height: $base-line-height;
            list-style-type: none;
            margin: 1rem 0;
            text-align: center;
            text-shadow: 1px 1px 2px light( $background-color, 30%);
            li {
                display: inline;
                margin-left: 2rem;
                text-decoration: uppercase;
            }
        }
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    //@extend %clearfix;

    //@include media-query($on-laptop) {
        //max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        //max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
    //}
}